<h1>Images To PDF Converter (Prototype)</h1>
<p>Add images, reorder them and create pdf</p>
<button (click)="toggleTheme()" class="btn btn-primary corner">
	Toggle Theme
	@if (theme() === 'light') {
		☀️
	} @else {
		🌙
	}
</button>
<div class="container">
	<br />
	<file-manager></file-manager>

	<button
		class="btn btn-success"
		(click)="createPDF()"
		[disabled]="!canCreate()"
	>
		Create PDF
	</button>
	<p>{{ greetingMessage }}</p>

	@if (creatingPdf()) {
		<div class="dialog">
			<div class="loading-dialog">
				<span class="loading-text">Generating pdf</span>
				<div class="loading-dots">
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
				</div>
			</div>
		</div>
	}
</div>
