<button (click)="toggleTheme()" class="btn btn-primary corner">
	Toggle Theme
	@if (theme() === 'light') {
		☀️
	} @else {
		🌙
	}
</button>
<h1>Images To PDF Converter (Prototype)</h1>
<small>
	This application works without a server. All interactions happen in the
	browser/webview window.
</small>
<p>
	@if (isWeb()) {
		Web Version: The web version is as safe as your browser.
	} @else {
		Desktop version: All interactions occur only on your computer
	}
</p>
<p>Add images, reorder them and create pdf</p>
<div class="container">
	<br />
	<file-manager></file-manager>

	<button
		class="btn btn-success"
		(click)="createPDF()"
		[disabled]="!canCreate()"
	>
		Create PDF
	</button>

	@if (creatingPdf()) {
		<div class="dialog">
			<div class="loading-dialog">
				<span class="loading-text">Generating pdf</span>
				<div class="loading-dots">
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
				</div>
			</div>
		</div>
	}
</div>
